In [18]:
import nltk
from nltk import ne_chunk, pos_tag, word_tokenize
import pandas as pd
from nltk.tree import Tree
import spacy

In [19]:
nlp = spacy.load("en_core_web_sm")

In [20]:
df = pd.read_csv("datasets/out.csv")
df = df[["headline"]]
df.head()

                                            headline
0  called walmart worst nightmare really hope com...
1  called walmart worst nightmare really hope com...
2  called walmart worst nightmare really hope com...
3                             sexism men sounds like
4                             sexism men sounds like

In [21]:
dfStopWords = pd.read_csv("datasets/headline_stopwords.csv")
dfStopWords = dfStopWords[["headline"]]
dfStopWords.head()

                                            headline
0  they re being called walmart s worst nightmare...
1  they re being called walmart s worst nightmare...
2  they re being called walmart s worst nightmare...
3       this is what sexism against men sounds like
4       this is what sexism against men sounds like

In [22]:
df['headline_tokens'] = df.apply(lambda row: nlp(row['headline']), axis=1)

In [23]:
df.head()

,headline,headline_tokens
0,called walmart worst nightmare really hope com...,"(called, walmart, worst, nightmare, really, ho..."
1,called walmart worst nightmare really hope com...,"(called, walmart, worst, nightmare, really, ho..."
2,called walmart worst nightmare really hope com...,"(called, walmart, worst, nightmare, really, ho..."
3,sexism men sounds like,"(sexism, men, sounds, like)"
4,sexism men sounds like,"(sexism, men, sounds, like)"

In [24]:
dfStopWords['headline_tokens'] = dfStopWords.apply(lambda row: nlp(row['headline']), axis=1)

In [25]:
dfStopWords.head()

,headline,headline_tokens
0,they re being called walmart s worst nightmare...,"(they, re, being, called, walmart, s, worst, n..."
1,they re being called walmart s worst nightmare...,"(they, re, being, called, walmart, s, worst, n..."
2,they re being called walmart s worst nightmare...,"(they, re, being, called, walmart, s, worst, n..."
3,this is what sexism against men sounds like,"(this, is, what, sexism, against, men, sounds,..."
4,this is what sexism against men sounds like,"(this, is, what, sexism, against, men, sounds,..."

In [30]:
entities = []

for index, row in df.iterrows():
    sub_toks = [tok for tok in row["headline_tokens"] if (tok.dep_ == "nsubj") ]
    entities.append(sub_toks)

In [31]:
df["entities"] = entities

In [32]:
df.head()

,headline,headline_tokens,entities
0,called walmart worst nightmare really hope com...,"(called, walmart, worst, nightmare, really, ho...",[]
1,called walmart worst nightmare really hope com...,"(called, walmart, worst, nightmare, really, ho...",[]
2,called walmart worst nightmare really hope com...,"(called, walmart, worst, nightmare, really, ho...",[]
3,sexism men sounds like,"(sexism, men, sounds, like)",[men]
4,sexism men sounds like,"(sexism, men, sounds, like)",[men]

In [33]:
entities = []

for index, row in dfStopWords.iterrows():
    sub_toks = [tok for tok in row["headline_tokens"] if (tok.dep_ == "nsubj") ]
    entities.append(sub_toks)

In [34]:
dfStopWords["entities"] = entities

In [35]:
dfStopWords.head()

,headline,headline_tokens,entities
0,they re being called walmart s worst nightmare...,"(they, re, being, called, walmart, s, worst, n...","[walmart, i, it]"
1,they re being called walmart s worst nightmare...,"(they, re, being, called, walmart, s, worst, n...","[walmart, i, it]"
2,they re being called walmart s worst nightmare...,"(they, re, being, called, walmart, s, worst, n...","[walmart, i, it]"
3,this is what sexism against men sounds like,"(this, is, what, sexism, against, men, sounds,...","[this, sexism]"
4,this is what sexism against men sounds like,"(this, is, what, sexism, against, men, sounds,...","[this, sexism]"

In [36]:
df["no_stopwords_entities"] = df["entities"]

In [37]:
df.head()

,headline,headline_tokens,entities,no_stopwords_entities
0,called walmart worst nightmare really hope com...,"(called, walmart, worst, nightmare, really, ho...",[],[]
1,called walmart worst nightmare really hope com...,"(called, walmart, worst, nightmare, really, ho...",[],[]
2,called walmart worst nightmare really hope com...,"(called, walmart, worst, nightmare, really, ho...",[],[]
3,sexism men sounds like,"(sexism, men, sounds, like)",[men],[men]
4,sexism men sounds like,"(sexism, men, sounds, like)",[men],[men]