In [32]:
import nltk
from nltk import ne_chunk, pos_tag, word_tokenize
import pandas as pd
from nltk.tree import Tree
import spacy

In [33]:
nlp = spacy.load("en_core_web_sm")

In [34]:
df = pd.read_csv("datasets/headlines_clean.csv")
df.head()

                                            headline
0  called walmart worst nightmare really hope com...
1  called walmart worst nightmare really hope com...
2  called walmart worst nightmare really hope com...
3                             sexism men sounds like
4                             sexism men sounds like

In [35]:
df['tokens'] = df.apply(lambda row: nlp(row['headline']), axis=1)

In [36]:
df.head()

,headline,tokens
0,called walmart worst nightmare really hope com...,"(called, walmart, worst, nightmare, really, ho..."
1,called walmart worst nightmare really hope com...,"(called, walmart, worst, nightmare, really, ho..."
2,called walmart worst nightmare really hope com...,"(called, walmart, worst, nightmare, really, ho..."
3,sexism men sounds like,"(sexism, men, sounds, like)"
4,sexism men sounds like,"(sexism, men, sounds, like)"

In [39]:
entities = []

for index, row in df.iterrows():
    sub_toks = [tok for tok in row["tokens"] if (tok.dep_ == "nsubj") ]
    entities.append(sub_toks)

In [40]:
df["entities"] = entities

In [41]:
df.head()

,headline,tokens,entities
0,called walmart worst nightmare really hope com...,"(called, walmart, worst, nightmare, really, ho...",[]
1,called walmart worst nightmare really hope com...,"(called, walmart, worst, nightmare, really, ho...",[]
2,called walmart worst nightmare really hope com...,"(called, walmart, worst, nightmare, really, ho...",[]
3,sexism men sounds like,"(sexism, men, sounds, like)",[men]
4,sexism men sounds like,"(sexism, men, sounds, like)",[men]

In [ ]:
df[20:25]