In [23]:
from pytrends.request import TrendReq
import pandas as pd

pytrends = TrendReq(hl='en-US', tz=360)

Let's try to consult the trending searches in the United States

In [24]:
df = pytrend.trending_searches(pn='united_states')
df

                                  0
0                  Gretchen Whitmer
1                    25th Amendment
2                     Morgan Wallen
3                      Louise gluck
4                  Katharine McPhee
5                       Roe v. Wade
6   New England Journal of Medicine
7                         Wauwatosa
8                               AMD
9                       Sofia Kenin
10                Packing the court
11                       Mike Evans
12                Braves vs Marlins
13                 Charm City Kings
14                  Hubie Halloween
15                   Debate tonight
16            Hurricane Delta track
17                    Derek Chauvin
18                        Regeneron
19                       Kyle Allen

let's try to find trendings for some specific keywords:

In [26]:
keywords=['Walmart']
# from January 24th 2013 to April 14th 2015
pytrends.get_historical_interest(keywords, year_start=2013, month_start=1, day_start=14, hour_start=0, year_end=2015, month_end=3, day_end=14, hour_end=0, cat=0, geo='US', gprop='', sleep=10)

                     Walmart  isPartial
date
2015-01-05 00:00:00       68      False
2015-01-05 01:00:00       66      False
2015-01-05 02:00:00       63      False
2015-01-05 03:00:00       57      False
2015-01-05 04:00:00       52      False
...                      ...        ...
2015-03-13 20:00:00       62      False
2015-03-13 21:00:00       74      False
2015-03-13 22:00:00       83      False
2015-03-13 23:00:00       85      False
2015-03-14 00:00:00       84      False

[1642 rows x 2 columns]